* {
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    background-color: black;
}
.nav-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, black, rgb(22, 22, 22), rgb(82, 82, 82));
    box-shadow: 0px 2px 10px 0px black;  
}
.section-container {
    display: flex;
}
.nav-list {
    margin: 0 0 0 120px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.nav-list a {
    margin: 0px 5px 0px 0px;
    text-decoration: none;
    color: rgb(236, 236, 236);
    height: 50px;
    padding: 10px 15px;
    transition: 0.5s;
}
.nav-list a:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgb(187, 187, 187);
}
.nav-list a:hover i {
    color: black;
}
.nav-list i {
    color: white;
    transition: 0.5s;
}
.rotate i {
    animation: rotating 14s linear infinite;
}
@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.nav-slider {
    width: 100px;
    height: 22px;
    overflow: hidden;
    top: 22%;
    left: 3%;
    position: absolute;
    color: white;
    padding: 3px 5px 0px 5px;
}
.nav-slider i:hover {
    cursor: pointer;
}
.slider-image {
    display: flex;
    width: 100%;
    height: 70%;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.473), white), url(https://st3.depositphotos.com/6203808/17585/v/1600/depositphotos_175859610-stock-illustration-set-of-snowboard-club-insignia.jpg);
    background-size: cover;
}
.nav-slider span {
    color: rgb(236, 236, 236);
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.5s;
}
.nav-slider i {
    margin: 0px 0px 30px 0px;
}
.open-nav-slider {
    position: absolute; 
    background-color: white;
    color: black;
    width: 40%;
    height: 500px;
    overflow-y: auto;
    box-shadow: 2px 2px 10px 0px black;
    z-index: 1;
}
.open-nav-slider:hover span {
    color: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.section-container {
    background-image: linear-gradient(to bottom, rgba(231, 231, 231, 0.329), rgba(190, 190, 190, 0.63),rgba(0, 0, 0, 0.795), rgb(0, 0, 0)), url(https://cdn.oboi7.com/205a1e4bf59a9e4f0c9d121d9d9c5d1c1e5930a5/cherno-beloe-izobrazhenie-gory-sneg-snoubord.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 50px 0px 70px;
    display: flex;
    width: 100%;
}
.video-container {
    width: 50%;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px black;
}
.text-container {
    padding: 0px 20px 30px 40px;
    display: flex;
    width: 50%;
    flex-direction: column;
}
.text-container-header h3 {
    margin: 0;
    position: relative;
    background-image: linear-gradient(to right, black, rgb(22, 22, 22), rgb(82, 82, 82));
    padding: 10px 5px;
    top: -15px;
    color: white;
    transform: scale(0.9);
    text-align: center;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.644);
    border: none;
}
.text-container-header h3 i {
    color: rgb(180, 91, 91);
    position: absolute;
    font-size: 100px;
    text-shadow: 0px 0.5px 2px black;
}
#string1 {
    transform: rotate(90deg);
    left: -34px;
    top: -25px;
    color: rgb(180, 91, 91);
    text-shadow: 0px -1px 2px black;
}
#string2 {
    transform: rotate(40deg);
    right: -29px;
    top: -42px;
}
.text-container-article {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}
.text-container-article p {
    position: relative;
    box-shadow: 0px 2px 5px 0px black;
    border-radius: 5px;
    padding: 10px 10px 10px 15px;
    transition: 0.4s;
}
.text-container-article p i {
    position: absolute;
    top: -8px;
    color: rgb(156, 65, 65);
    text-shadow: 1px 3px 5px black;
}
#dot2 {
    right: 3%;
}
.text-container-article .p1 {
    background-color: rgb(216, 216, 216);
}
.text-container-article .p2 {
    background-color: rgb(156, 155, 155);
}
.text-container-article .p3 {
    background-color: rgb(78, 78, 78);
    color: rgb(226, 226, 226);
}
.text-container-article .p4 {
    background-color: rgb(37, 37, 37);
    color: white;
}
.text-container-article .p1 {
    margin-left: 40px;
    transform: rotate(-2deg);
}
.text-container-article .p3 {
    margin-left: 40px;
    transform: rotate(-1deg);
}
.text-container-article .p2 {
    margin-right: 40px;
    transform: rotate(1deg);
}
.text-container-article .p4 {
    margin-right: 40px;
    transform: rotate(2deg);
}
.text-container-article p:hover {
    box-shadow: 0px 1px 2px 0px black;
}
.text-container-article i {
    position: absolute;
}
.section-container2 {
    background-color: rgba(231, 231, 231);
    max-width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 150px;
    margin: 0px 20px;
    box-shadow: 0px 0px 10px 1px white;
    margin-bottom: 50px;
}
.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}
.img-container .img {
    width: 400px;
    overflow: hidden;
    height: 200px;
    margin: 0px 10px;
}
.img1 {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.img2 {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.img img {
    width: 100%;
    height: 100%;
    filter: grayscale();
    opacity: 0.6;
    transition: 1s;
}
.img img:hover {
    transform: scale(1.05);
    opacity: 1;
    filter: none;
}
.img-container i {
    position: absolute;
    color: brown;
    font-size: 170px;
    opacity: 0.7;
    transition: 0.5s;
}
.img-container i:hover {
    opacity: 1;
    transform: scale(1.05);
}
.foot {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 99999;
}
.foot p {
    margin: 20px 100px 15px 20px;
}
.foot a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    font-size: 2rem;
}
.foot i {
    transition: 0.4s;
}
.foot div {
    order: -1;
    margin: 20px 100px 15px 20px;
}
.foot a:hover i {
    transform: scale(1.5);
}
@media (max-width: 1260px) {
    .section-container2 {
        background-color: rgba(231, 231, 231);
        max-width: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        border-radius: 0px;
        margin: 0px 20px;
        box-shadow: 0px 0px 10px 1px white;
        transition: 1s;
    }
    .img1 {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .img2 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
@media (max-width: 1000px) {
    .nav-container {
        flex-direction: column;
        background-image: linear-gradient(to right bottom, black, rgb(22, 22, 22), rgb(82, 82, 82));
    }
    .nav-list {
        margin: 0;
        width: 100%;
        justify-content: space-around;
    }
    .nav-list a {
        margin: 5px 0px;
    }

    .nav-slider {
        top: 105%;
        color: black;
    }
    .open-nav-slider {
        width: 80%;
        height: 383px;
    }
    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px 0px 0px;
    }
    .text-container {
        order: -1;
        width: 100%;
        padding: 20px 20px;
    }
    .video-container {
        width: 100%;
        height: 400px;
        overflow: hidden;
        box-shadow: 0px 0px 15px 3px rgb(97, 97, 97);
    }
    h3 {
        font-size: 0.9rem;
    }
    .section-container2 {
        background-color: rgba(231, 231, 231);
        max-width: 100%;
        display: flex;
        position: relative;
        border-radius: 0px;
        margin: 0px;
        box-shadow: none;
    }
    .img-container {
        flex-wrap: wrap;
    }
    .img-container .img {
        width: 350px;
        overflow: hidden;
        height: 200px;
        margin: 10px 10px;
    }
    .foot p {
        margin: 20px 10px 15px 20px;
    }
    .foot div {
        margin: 20px 10px 15px 20px;
    }
    .foot a {
        margin: 0px 5px;
        font-size: 1.5rem;
    }
}